.cards {
    margin: 40px auto; 
    position: relative;
    width: 1200px;
    height: 540px;
    display: block;
}

.card {
    width: 400px;
    min-height: 360px;
    background: #972622; 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 40px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

    transition: clip-path 0.6s cubic-bezier(0.4, 0, 0.2, 1), 
                background-color 0.4s ease, 
                border-radius 0.4s ease;
}
.card__subtitle{
    font-weight: 700;
    padding-bottom: .5em;
}
.card__list{
    list-style-type:square;
    padding-left: 25px;
}
.card__list-item{
    text-align: left;
    margin-bottom: 10px;
}
.card__text{
    text-align: justify;
    margin: 10px 0;
}

.card::before {
    content: "";
    position: absolute;
    inset: 2px; 
    background: #000; 
    clip-path: inherit;
    z-index: -1;
    transition: background 0.4s ease;
}

.card_index-1 { top: 0; left: 0; }
.card_index-2 { top: 180px; left: 400px; }
.card_index-3 { top: 0; left: 800px; }

.card_index-1:hover, 
.card_index-2:hover, 
.card_index-3:hover {
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%);
    background-color: rgba(58, 55, 55, 0.8);
    border-radius: 12px;
}

.card_index-1:hover::before, 
.card_index-2:hover::before, 
.card_index-3:hover::before {
    background: rgba(20, 20, 20, 0.9); 
    border-radius: 12px;
}

.card__index-link {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__image {
    width: 90px;
    object-fit: contain;
    margin-bottom: 10px;
}

.card__title {
    padding: 0px 20px 32px 20px;
    font-weight: 900;
}

.card__subtitle, .card__text, .card__list {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease 0.2s;
}

.card:hover .card__subtitle,
.card:hover .card__text,
.card:hover .card__list {
    opacity: 1;
    max-height: 500px;
}
@media (max-width: 1200px) {
    .cards {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .card {
        position: relative; 
        top: auto !important;
        left: auto !important;
        width: 100%;
        max-width: 350px;
        min-height: 300px;
    }
}
@media (max-width: 1200px) {
    .cards {
        width: 100%;
        height: auto; 
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px; 
        margin: 0 auto;
    }

    .card_index-1, 
    .card_index-2, 
    .card_index-3 {
        position: relative;
        top: auto;
        left: auto;
    }

    .card {
        width: 100%;
        max-width: 350px;
        min-height: 360px; 
    }
}